[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
nose = "*"
pylint = "*"
pylint-django = "*"

[packages]
boto3 = "*"
django = "*"
django-environ = "*"
djangorestframework = "*"
django-storages = "*"
mistune = "*"
pillow = "*"
pygments = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
